{% macro articleDigest(title, summary, date, uri) %}
<li>
  <section class="articleDigest">
    <h2><a href="{{ uri }}">{{ title }}</a></h2>
    <p>{{ summary }}</p>
    <time itemprop="datePublished" datetime="{{ date }}">{{ date | shortDate }}</time>
  </section>
</li>
{% endmacro %}
