<header>
  <nav>
    {% include "../shared/rssEntrances.njk" %}
    {% include "../shared/themeSwitch.njk" %}
  </nav>

  <h1 itemprop="headline">{{ meta.title }}</h1>

  {% include "../shared/byline.njk" %}
</header>
