<style>
{# header #}
header nav {
  margin-top: var(--spacing-x-large);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-top: var(--spacing-medium);
}

{# list #}
ul, li, ol {
  list-style-type: none;
}

ul > li {
  margin-bottom: var(--spacing-large);
}

{# articleDigest #}
.articleDigest h2 {
  line-height: 1.5;
}
.articleDigest p {
  margin-top: var(--spacing-small);
}
.articleDigest time {
  display: block;
  margin-top: var(--spacing-x-small);
  font-size: var(--font-size-small);
  color: var(--date-color);
  line-height: 1.23;
}
</style>
