<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ meta.title }}</title>
<meta name="description" content="{{ meta.description }}">
<meta property="og:title" content="{{ meta.title }}">
<meta property="og:description" content="{{ meta.description }}">
<meta property="og:image" content="{{ meta.image }}" />
<meta property="article:author" content="{{ meta.authorName }}">
<meta name="twitter:title" content="{{ meta.title }}">
<meta name="twitter:description" content="{{ meta.description }}">
<meta name="twitter:image" content="{{ meta.image }}" />
<meta name="keywords" content="Matters,matters.news{% for tag in article.tags %},{{ tag }}{% endfor %}" />

{% if rss.xml %}
<link rel="alternate" type="application/atom+xml" href="{{ rss.xml }}" data-link-type="rss-xml" />
{% endif %}

{% if rss.json %}
<link rel="alternate" type="application/json" href="{{ rss.json }}" data-link-type="rss-json" />
{% endif %}

{% if paymentPointer %}
<meta name="monetization" content="{{ paymentPointer }}" />
{% endif %}
