<section class="rssEntrances">
  <ul>
    {% if byline.author.ipnsKey %}
    <li>
      {% include "./icons/rss.njk" %}
      <span aira-role="button" aria-label="IPNS address" data-clipboard="{{ byline.author.ipnsKey }}">IPNS</span>
    </li>
    {% endif %}

    {% if rss.xml %}
    <li>
      <a href="{{ rss.xml }}" data-link-type="rss-xml" target="_blank" aria-label="subscribe RSS feed">RSS</a>
    </li>
    {% endif %}

    {% if rss.json %}
    <li>
      <a href="{{ rss.json }}" data-link-type="rss-json" target="_blank" aria-label="subscribe JSON feed">JSON</a>
    </li>
    {% endif %}
  </ul>
</section>
