<section class="rssEntrances">
  <ul>
    <li>
      {% include "./icons/rss.njk" %}
      <span aira-role="button" aria-label="IPNS address" data-clipboard="{{ rss.ipns }}">IPNS</span>
    </li>
    <li>
      <a href="{{ rss.xml }}" target="_blank" aria-label="subscribe RSS feed">RSS</a>
    </li>
    <li>
      <a href="{{ rss.json }}" target="_blank" aria-label="subscribe JSON feed">JSON</a>
    </li>
  </ul>
</section>
