<section class="themeSwitch">
  <button class="light" type="button" aira-label="switch to dark mode">
    {% include "./icons/themeSwitchLight.njk" %}
  </button>

  <button class="dark" type="button" aira-label="switch to light mode">
    {% include "./icons/themeSwitchDark.njk" %}
  </button>
</section>
