<style>
.byline {
  margin-top: var(--spacing-base);
  margin-bottom: var(--spacing-medium);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  line-height: 1;
}

.byline time {
  color: var(--date-color);
}

@media(min-width: 706px) {
  .byline {
    margin-bottom: var(--spacing-x-large);
  }
}
</style>
