
{% include "./variables.njk" %}
{% include "./base.njk" %}
{% include "./layout.njk" %}
{% include "./theme.njk" %}

{# components #}
{% include "./themeSwitch.njk" %}
{% include "./byline.njk" %}
{% include "./rssEntrances.njk" %}
