<style>
/* light mode */
:root {
  --text-color: var(--color-black);
  --background-color: var(--color-white);
  --date-color: var(--color-grey);
  --border-color: var(--color-grey-light);
  --code-background-color: var(--color-grey-lighter);
}

/* dark mode */
:root.dark {
  --text-color: var(--color-white);
  --background-color: var(--color-black);
  --date-color: var(--color-grey);
  --border-color: var(--color-grey-darker);
  --code-background-color: var(--color-grey-darker);
}
</style>
