<style>
:root {
  /* typography: font-size, font-weight, line-height, font-family */
  --font-size-x-small: 11px;
  --font-size-small: 13px;
  --font-size-base: 16px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-x-large: 32px;

  --line-height-base: 1.5;

  --font-weight-base: 400;
  --font-weight-medium: 500;

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;

  /* colors */
  --color-grey-lighter: #f7f7f7;
  --color-grey-light: #DDDDDD;
  --color-grey: #B3B3B3;
  --color-grey-darker: #808080;
  --color-black: #000000;
  --color-white: #fff;

  /* spacings */
  --spacing-xx-small: 8px;
  --spacing-x-small: 8px;
  --spacing-small: 12px;
  --spacing-base: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-x-large: 40px;
  --spacing-xx-large: 48px;

}
</style>
