<script type="text/javascript">
// global parameter name
const paramName = 'key'

document.addEventListener('DOMContentLoaded', async () => {
  // get secret
  const urlParams = new URLSearchParams(window.location.search)
  const keyString = urlParams.get(paramName)

  const $encrypted = document.querySelector('.encrypted')

  if ($encrypted) {
    if (!keyString) {
      showInput(false)
    } else {
      try {
        const decrypted = await decrypt($encrypted.innerHTML.trim(), keyString)
        // write to decrypted section
        $encrypted.innerHTML = decrypted
        // update classname
        $encrypted.className = $encrypted.classList.remove('encrypted')
      } catch (err) {
        showInput(true)
      }
    }
  }
})
</script>
